<h1><%= title %></h1>
    
<%- messages() %>

<% if (loggedin) { %>
  <h2>Welcome <%= accountData.account_firstname %></h2>
  <p>You're logged in.</p>
<% } else { %>
  <p>Please log in to access this page.</p>
<% } %>